/* =========== fontes ============ */

@font-face {
    font-family: glory;
    src: url(/css/fonts/Glory-Regular.ttf);
}

@font-face {
    font-family: hanuman;
    src: url(/css/fonts/Hanuman-Regular.ttf);
}

/* =========== reset css ============ */

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

body {
    background-color: #171717;
}

/* =========== scroll bar ============ */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #171717;
}

::-webkit-scrollbar-thumb {
    background-color: #F9A72B;
    border-radius: 10px;
}

/*====================== Style ===========================*/



body{
    background-color: #141414;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: #141414;
    font-family: 'Arial';
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu ul{
    text-align: center;
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
    
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #141414;
    color: #fff;
}

/*BOTÃO ORÇAMENTO */

.btn{
    border: 1px solid rgba(170, 131, 2, 0.753);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background: rgba(148, 102, 4, 0.568);
}


/* Menu hamburger */
label[for="bt_menu"]{
    padding: 5 px;
    background-color: #141414;
    color: #fff;
    font-family:'Arial';
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    
}
#bt_menu{
    display:none;
}
label[for="bt_menu"]{
    display:none;

}



/* IMAGEM MENU */

/* Pc tela full*/

@media(min-width:1200px){
    label[for="img"]{
        padding: 5 px;
        background-color: #141414;
        text-align: left;
        font-size: 5px;
        position: absolute; 
        top: 0px;
        left: 500px;
        height: 70px;
    
    }

#img{
    display:none;
}
label[for="img"]{
    display:flex;
}

}

/* Pc tela menor */
@media(max-width:1199px){
    label[for="img"]{
        padding: 5 px;
        background-color: #141414;
        text-align: left;
        font-size: 5px;
        position: absolute; 
        top: 0px;
        left: 50px;
        height: 70px;
        
    
    }

#img{
    display:none;
}
label[for="img"]{
    display:flex;
}

}

/* Tablet tela maior */
@media(max-width: 1000px){
    label[for="bt_menu"]{
        display:block;
    }
    label[for="img"]{
        padding: 5 px;
        background-color: #141414;
        text-align: left;
        font-size: 5px;
        position: absolute; 
        top: 0;
        left: 10px;
        height: 70px;
    }
    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
        }
    
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li{
        width: 100%;
        float: none;

    }
}



/* Tablet tela menor*/

@media(max-width: 800px){
    label[for="bt_menu"]{
        display:block;
    }
    label[for="img"]{
        padding: 5 px;
        background-color: #141414;
        text-align: left;
        font-size: 5px;
        position: absolute; 
        top: 0;
        left: 10px;
        height: 70px;
    }
    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
        }
    
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li{
        width: 100%;
        float: none;

    }
}





/* Celular*/

@media(max-width:600px){
    label[for="bt_menu"]{
        display:block;
    }
    label[for="img"]{
        padding: 5 px;
        background-color: #141414;
        text-align: left;
        font-size: 5px;
        position: absolute; 
        top: 0;
        left: 10px;
        height: 55px;
    }
    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
        }
    
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li{
        width: 100%;
        float: none;

    }
}
